<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
</head>
<body>

    <header>
        <h1>Mi Aplicación de Estudiantes</h1>
        <nav>
            <ul>
                <li><a href="{% url 'listar_estudiantes' %}">Estudiantes</a></li>
                <li><a href="{% url 'listar_curso' %}">Cursos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>
